
td{
    
    background-color:#D8EBF0;
    padding: 5px;
}
th{
    background-color:#9ab7e7;
    padding: 5px;
    color:white;
    
}
table{
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 16px;
    float: left;
}
body{
   background-color:#D8EBF0 ;
   
   font-size: 20px;
}
h1{
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:white;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;

}
*{
    margin: 0;
}
p
{

    margin: 10px;
    margin-left: 240px;
    margin-right: 240px;
    text-align: justify;
}
p.primer::first-letter{

color:black;
font-size: 150%;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9ab7e7;
    color: white;
    padding-left: px; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    margin-bottom: 10px;
}

ul.indice{
    padding-left: 50px;
    background-color: white;
    border: solid 2px lightblue;
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 150px;
    margin-left: 1150px;
}

h3{
    color: white;
    background-color: #9ab7e7;
    margin-left: 240px;
    margin-right: 1475px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid black 1px;
}
img{
    margin-left: 1100px;
    
    border: solid 2px lightblue;
    width: 300px;
}

ul.resto{
    margin-left:400px;
}

table{
    margin-left: 240px;
}
h3.oviedotitle{
    margin-right:1400px ;
    margin-left: 240px;
}

a:hover{
    color:red;
    background-color:white; 
}
link:hover{
    color: red;
    background-color: yellow;
}
h1.gijon{
    background-image: url(/Imagen/images.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover; 
    padding-top: 70px;
    padding-bottom: 50px; 
    border-bottom: solid #9ab7e7 15px;
}
h1.laboral{
    background-image: url(/Imagen/universidad-laboral-gijon1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover; 
    padding-top: 70px;
    padding-bottom: 50px; 
    border-bottom: solid #9ab7e7 15px;
}
img.laboral1{
    margin:0px;
    margin-left: 250px;
    float: left;
    width: 350px;
}
img.laboral2{
     margin:0px;
     margin-left: 500px;
     float: left;
    width: 300px;
}
img.laboral3{
    margin:0px;
    float: left;    
    margin-left: 600px; 
    width: 300px;
}
img.imagenLaboral{
    margin-left: 1100px;
}
li{
    padding-bottom: 10px;
}
h3.UNED{
    margin-right:1400px ;
    margin-left: 240px;
}
footer{
    padding-top: 200px;
    color: #9ab7e7;
    
}